* {
    box-sizing: border-box
}
h1 {
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

section div {
    border: 2px solid black;
    width: 100px;
    height: 100px;

}

.player-1 {
    background-color: purple;
}

.player-2 {
    background-color: blue
}

footer {
    text-align: center;
}

.reset {
    background-color: transparent;
}

button {
    text-align: center;
}